# project root
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# express-server
/express-server/node_modules

# macOS
.DS_Store

# JetBrains
.idea/sonarlint/

# Custom Directories
/config/

# Custom Files
*.png
/man/rdolcegroup-app.docx
/man/~$olcegroup-app.docx